<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

  <script>
    var img = document.createElement("img");
    var rnd = Math.random() * (10000000 - 1000) + 1000;
    img.src = "https://silveryard.goatcounter.com/count?p={{ page.url | uri_escape }}&t={{ page.title | uri_escape }}&r=" + document.referrer + "&rnd=" + rnd.toString();
    img.style = "display:none;";
    document.body.appendChild(img);
  </script>
  <noscript>
    <img src="https://silveryard.goatcounter.com/count?p={{ page.url | uri_escape }}&t={{ page.title | uri_esacpe}}" style="display:none;">
  </noscript>

</footer>
